<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    
    {{ content }}
    <!-- ^ Renders the markdown section of this site (currently mostly empty...) -->

    <hr />
    <img style="float:left;" height="32" width="32" src="img/github.svg"/>&nbsp;<a href="https://github.com/williamfiset">https://github.com/williamfiset</a><br/><br/>
    <img style="float:left;" height="32" width="32" src="img/linkedin.svg"/>&nbsp;<a href="https://www.linkedin.com/in/williamfiset">https://www.linkedin.com/in/williamfiset</a><br/><br/>
    <img style="float:left;" height="32" width="32" src="img/youtube.svg"/>&nbsp;<a href="https://www.youtube.com/c/WilliamFiset-videos">https://www.youtube.com/c/WilliamFiset-videos</a><br/><br/>
    <hr />

  </div>
  {% include scripts.html %}
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4BW28ZN6W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L4BW28ZN6W');
</script>

<!-- Ad sense script (there are no Ads on this website, at least not yet) -->
<script data-ad-client="ca-pub-3805702634329557" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</html>
